:root {
  --primary-color: #0074d3;
  --white-color: #fcfaf5;
  --dark-theme: #222a33;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--white-color);
}

body {
  background-color: var(--dark-theme);
  background-image: radial-gradient(circle at center, var(--primary-color), var(--dark-theme));
  color: var(--white-color);
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  margin: 0;
}

h2 {
  margin: 1rem 0 2rem;
  text-align: center;
}

.container {
  background-color: var(--dark-theme);
  box-shadow: 0 0 1rem var(--primary-color);
  border: 0.2rem solid var(--primary-color);
  border-radius: 2rem;
  padding: 2rem;
  width: 42rem;
  max-width: 100%;
}

.result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  padding: 1.2rem 1rem;
  min-height: 5rem;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
}

.result-container .btn {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 4rem;
  font-size: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:active {
  transform: scale(0.92);
}

#length {
  border: 0;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--white-color);
  padding: 0.5rem 1rem;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

#length:focus {
  outline: 0;
}

.btn-large {
  display: block;
  width: 100%;
  border-radius: 1rem;
  padding: 1.2rem;
  font-size: 1.8rem;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.setting input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
}

.notification {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border: 0.2rem solid var(--primary-color);
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--dark-theme);
  color: var(--white-color);
  box-shadow: 0 0 1rem var(--primary-color);
  transition: 0.2s ease;
}

.notification:hover {
  box-shadow: 0 0 1rem var(--primary-color);
}

.notification.active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.notification p::selection {
  background-color: var(--primary-color);
}

.notification-btn {
  padding-left: 2rem;
  background-color: transparent;
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  transition: 0.2s ease;
}

.notification-btn:active {
  transform: scale(0.82);
}

footer {
  height: 10rem;
  background-color: var(--dark-theme);
  border-top: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: var(--white-color);
}

footer a {
  color: var(--white-color);
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
}

@media screen and (max-width: 520px) {
  .notification {
      left: 2rem;
      top: 2rem;
      bottom: initial;
  }
}
